<p id="notice"><%= notice %></p>

<p>
  <b>Product cate:</b>
  <%= @product_item.product_cate %>
</p>

<p>
  <b>Name:</b>
  <%= @product_item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product_item.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product_item.price %>
</p>


<%= link_to 'Edit', edit_product_item_path(@product_item) %> |
<%= link_to 'Back', product_items_path %>
