<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Region:</b>
  <%= @shop.region %>
</p>

<p>
  <b>City:</b>
  <%= @shop.city %>
</p>

<p>
  <b>District:</b>
  <%= @shop.district %>
</p>

<p>
  <b>Short address:</b>
  <%= @shop.short_address %>
</p>

<p>
  <b>Full address:</b>
  <%= @shop.full_address %>
</p>

<p>
  <b>Tel phone:</b>
  <%= @shop.tel_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @shop.mobile_phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @shop.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @shop.email %>
</p>

<p>
  <b>Qq:</b>
  <%= @shop.qq %>
</p>

<p>
  <b>Bus list:</b>
  <%= @shop.bus_list %>
</p>

<p>
  <b>Description:</b>
  <%= @shop.description %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
